.pequeno {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.grande {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.medio {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.caixacinza {
	background-color: #EFEFEF;
	border: 1px solid #DFDFDF;
}
.textobox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #FFFFFF;
	border: 1px solid #DFDFDF;
	margin: 1px;
	padding: 1px;


}
.textoboxcinza {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #EFEFEF;
	border: 1px solid #DFDFDF;
	margin: 1px;
	padding: 1px;


}
.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 900;
	filter: Glow(Color=000000, Strength=1);
	color: #FFFFFF;
}
.caixabranca {
	background-color: #FFFFFF;
	border: 1px solid #DFDFDF;
}
a:link {
	text-decoration: none;
	color: #336699;

}
a:visited {
	text-decoration: none;
	color: #336699;

}
a:hover {
	text-decoration: underline;
	color: #336699;

}
a:active {
	text-decoration: none;
	color: #336699;

}
.useronline {
	filter: Glow(Color=000000, Strength=1);
}
