@charset "utf-8";
/* CSS Document */

/* erro */
	table#erro {
		width: 730px;
		margin: 10px;
		text-align: left;
	}
	table#erro .espaco {
		width: 1px;
	}
	table#erro .barra {
		background-image: url("../image/container.destaque.barra.jpg");
		background-repeat: no-repeat;
	}
	table#erro .titulo {
		font-size: 17px;
		font-weight: bold;
		padding-bottom: 5px;
	}
	table#erro .titulo .destacado {
		font-size: 17px;
		font-weight: bold;
		color: #3399FF;
	}
	table#erro .principal {
		border-top: 1px solid #DFDFDF;
		padding: 8px;
		background-image: url("../image/container.destaque.background3.jpg");
		background-repeat: repeat-x;
		vertical-align: top;
	}