@charset "utf-8";
/* CSS Document */

/* body */
	body {
	text-align:center;
	background-image: url(../image/container.backgorund.jpg);
	}

/* background */
	div#background {
		visibility: visible;
		position: absolute;
		z-index: 1;
		left: 50%;
		margin: 0 auto;
		margin-left: -388px;
		width: 776px;
		height: 100%;
	}
	table#container {
		background-color: #FFFFFF;
		width: 776px;
		height: 100%;
	}
	table#container .margem-esquerda {
		width: 12px;
		background-image: url("../image/container.margem.esquerda.png");
		background-repeat: repeat-y;
	}
	table#container .container {
		border-left: 1px solid #000000;
		border-right: 1px solid #000000;
		vertical-align: top;
		width: 750px;
	}
	table#container .margem-direita {
		width: 12px;
		background-image: url("../image/container.margem.direita.png");
		background-repeat: repeat-y;
	}

/* topo */
	table#topo {
		background-color: #FFFFFF;
		width: 750px;
	}
	table#topo .cima {
		text-align: right;
		background-image: url("../image/topo.cima.background.png");
		background-repeat: repeat-x;
		height: 112px;
	}
	table#topo .cima img {
		padding-right: 135px;
	}
	table#topo .baixo {
		background-image: url("../image/topo.baixo.background.png");
		background-repeat: repeat-x;
		height: 25px;
	}
	table#topo .baixo .logotipo {
		text-align: right;
	}
	table#topo .baixo .logotipo img {
		padding-right: 135px;
	}
	table#topo .baixo .aba {
		width: 572px;
		text-align: center;
	}
	table#topo .baixo .aba img {
		padding-top: 5px;
	}
	table#topo .baixo .aba .selecionado {
		float: left;
		width: 110px;
		height: 25px;
		text-align: center;
		position: relative;
		background-image: url("../image/topo.baixo.aba.gif");
		background-repeat: no-repeat;
	}
	table#topo .baixo .aba .normal {
		float: left;
		width: 110px;
		height: 25px;
		text-align: center;
		position: relative;
		background-image: url("../image/topo.baixo.aba.destacada.gif");
		background-repeat: no-repeat;
	}

/* menu */
	table#menu {
		width: 750px;
		text-align: center;
	}
	table#menu .cima {
		height: 25px;
		background-color: #E6E6E6;
		border-bottom: 1px solid #000000;
	}
	table#menu .cima img {
		vertical-align:middle;
	}
	table#menu .cima .selecionado {
		background-color: #CEEFFF;
		border: 1px solid #666666;
		padding-left: 3px;
		padding-right: 3px;
	}
	
/* capture */
	table#capture {
		width: 750px;
		text-align: center;
	}
	table#capture .baixo {
		padding: 10px;
		padding-top: 0px;
		font-size: 10px;
		color: E6E6E6;
		font-style: italic;
	}
	
/* publicidade */
	table#publicidade {
		width: 750px;
		text-align: center;
	}
	table#publicidade .cima {
		padding: 10px;
		border-bottom: 1px solid #DFDFDF;
	}
	table#publicidade .baixo {
		padding: 10px;
		border-top: 1px solid #DFDFDF;
	}
	table#publicidade * iframe {
		visibility: visible;
		position:relative;
		top: auto;
		left: auto;
		width: 728px;
		height: 90px;
	}
	

/* rodape */
	table#rodape {
		width: 750px;
		height: 25px;
		background-color: #E6E6E6;
		border-top: 1px solid #000000;
	}
	table#rodape .copyright {
		text-align: left;
		padding-left: 5px;
	}
	table#rodape .links {
		text-align: right;
		padding-right: 5px;
	}
	table#menu .links img {
		vertical-align:middle;
	}

/* iguassu */
	table#viaiguassu {
		width: 750px;
		text-align: center;
	}
	table#rodape .principal {
		text-align: center;
		padding-left: 5px;
	}
	
/* oculto */
	div#oculto {
		visibility: hidden;
		position:absolute;
		top: 0px;
		left: 0px;
		height: 0px;
		z-index: 9;
	}