@charset "utf-8";
/* CSS Document */

/* novidades */
	table#notasgerais {
		width: 730px;
		margin: 10px;
		text-align: left;
	}
	table#notasgerais .espaco {
		width: 1px;
	}
	table#notasgerais .barra {
		background-image: url("../image/container.destaque.barra.jpg");
		background-repeat: no-repeat;
	}
	table#notasgerais .titulo {
		font-size: 17px;
		font-weight: bold;
		padding-bottom: 5px;
	}
	table#notasgerais .titulo .destacado {
		font-size: 17px;
		font-weight: bold;
		color: #3399FF;
	}
	table#notasgerais .principal {
		border-top: 1px solid #DFDFDF;
		padding: 8px;
		background-image: url("../image/container.destaque.background2.jpg");
		background-repeat: repeat-x;
		vertical-align: top;
	}
	table#notasgerais .principal .titulo {
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 5px;
		border-bottom: 1px solid #DFDFDF;
	}
	table#notasgerais p {
		/*border-bottom: 1px solid #F5F5F5;*/
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	
/* icone */
	table#icone {
		width: 730px;
		margin: 10px;
		text-align: left;
	}
	table#icone .imagem {
		border-bottom: 1px solid #F5F5F5;
		width: 29px;
	}
	table#icone .texto {
		border-bottom: 1px solid #F5F5F5;
		padding-left: 10px;
	}