@charset "utf-8";
/* CSS Document */

/* destaque */
	table#destaque {
		width: 730px;
		margin: 10px;
		text-align: left;
	}
	table#destaque .espaco {
		width: 1px;
	}
	table#destaque .barra {
		background-image: url("../image/container.destaque.barra.jpg");
		background-repeat: no-repeat;
	}
	table#destaque .titulo {
		font-size: 17px;
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	table#destaque .titulo .destacado {
		font-size: 17px;
		font-weight: bold;
		color: #3399FF;
	}
	table#destaque .principal {
		border-top: 1px solid #DFDFDF;
		padding: 8px;
		background-image: url("../image/container.destaque.background1.jpg");
		background-repeat: repeat-x;
		vertical-align: top;
	}
	table#destaque .outros {
		border-top: 1px solid #DFDFDF;
		width: 300px;
		background-image: url("../image/container.destaque.background4.jpg");
		background-repeat: repeat-x;
		vertical-align: top;
	}
	table#destaque .descricao {
		border-bottom: 1px solid #F5F5F5;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
/* populares */
	table#populares {
		width: 730px;
		margin: 10px;
		text-align: left;
	}
	table#populares .espaco {
		width: 1px;
	}
	table#populares .barra {
		background-image: url("../image/container.destaque.barra.jpg");
		background-repeat: no-repeat;
	}
	table#populares .titulo {
		font-size: 17px;
		font-weight: bold;
		padding-bottom: 5px;
	}
	table#populares .titulo .destacado {
		font-size: 17px;
		font-weight: bold;
		color: #3399FF;
	}
	table#populares .principal {
		border-top: 1px solid #DFDFDF;
		padding: 8px;
		background-image: url("../image/container.destaque.background3.jpg");
		background-repeat: repeat-x;
		vertical-align: top;
	}
	table#populares .descricao {
		border-bottom: 1px solid #F5F5F5;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	table#populares .link {
		vertical-align: middle;
		text-align: right;
	}

/* novidades */
	table#novidades {
		width: 730px;
		margin: 10px;
		text-align: left;
	}
	table#novidades .espaco {
		width: 1px;
	}
	table#novidades .barra {
		background-image: url("../image/container.destaque.barra.jpg");
		background-repeat: no-repeat;
	}
	table#novidades .titulo {
		font-size: 17px;
		font-weight: bold;
		padding-bottom: 5px;
	}
	table#novidades .titulo .destacado {
		font-size: 17px;
		font-weight: bold;
		color: #3399FF;
	}
	table#novidades .principal {
		border-top: 1px solid #DFDFDF;
		padding: 8px;
		background-image: url("../image/container.destaque.background2.jpg");
		background-repeat: repeat-x;
		vertical-align: top;
	}
	table#novidades .descricao {
		border-bottom: 1px solid #F5F5F5;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	table#novidades .link {
		vertical-align: middle;
		text-align: right;
	}