@charset "utf-8";
/* CSS Document */

/* publicacoes */
	table#publicacoes {
		width: 730px;
		margin: 10px;
		text-align: left;
	}
	table#publicacoes .espaco {
		width: 1px;
	}
	table#publicacoes .barra {
		background-image: url("../image/container.destaque.barra.jpg");
		background-repeat: no-repeat;
	}
	table#publicacoes .titulo {
		font-size: 17px;
		font-weight: bold;
		padding-bottom: 5px;
	}
	table#publicacoes .principal {
		border-top: 1px solid #DFDFDF;
		padding: 8px;
		background-image: url("../image/container.destaque.background2.jpg");
		background-repeat: repeat-x;
		vertical-align: top;
	}
	table#publicacoes .erro {
		border-top: 1px solid #DFDFDF;
		padding: 8px;
		background-image: url("../image/container.destaque.background3.jpg");
		background-repeat: repeat-x;
		vertical-align: top;
	}
	table#publicacoes .descricao {
		border-bottom: 1px solid #F5F5F5;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	table#publicacoes .selecao {
		height: 20px;
		text-align: left;
		padding-left: 5px;
	}
	table#publicacoes .selecao img {
		vertical-align:middle;
	}
	table#publicacoes .selecao .selecionado {
		background-color: #DFDFDF;
		border: 1px solid #666666;
		padding-left: 3px;
		padding-right: 3px;
	}

/* icone */
	table#icone {
		width: 730px;
		margin: 10px;
		text-align: left;
	}
	table#icone .imagem {
		border-bottom: 1px solid #F5F5F5;
		width: 29px;
	}
	table#icone .texto {
		border-bottom: 1px solid #F5F5F5;
		padding-left: 10px;
	}
	
/* navegador */
	table#navegador {
		width: 730px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		text-align: left;
	}
	table#navegador .espaco {
		width: 1px;
	}
	table#navegador .barra {
		background-image: url("../image/container.destaque.barra.jpg");
		background-repeat: no-repeat;
	}
	table#navegador .titulo {
		font-size: 17px;
		font-weight: bold;
		padding-bottom: 5px;
		text-align: center;
	}
	table#navegador .titulo .destacado {
		font-size: 17px;
		font-weight: bold;
		color: #3399FF;
	}
	table#navegador .principal {
		border-top: 1px solid #DFDFDF;
		padding: 8px;
		background-image: url("../image/container.destaque.background4.jpg");
		background-repeat: repeat-x;
		vertical-align: middle;
		text-align: center;
		height: 75px;
	}