@charset "utf-8";
/* CSS Document */

/* novidades */
	table#rssfeed {
		width: 730px;
		margin: 10px;
		text-align: left;
	}
	table#rssfeed .espaco {
		width: 1px;
	}
	table#rssfeed .barra {
		background-image: url("../image/container.destaque.barra.jpg");
		background-repeat: no-repeat;
	}
	table#rssfeed .titulo {
		font-size: 17px;
		font-weight: bold;
		padding-bottom: 5px;
	}
	table#rssfeed .titulo .destacado {
		font-size: 17px;
		font-weight: bold;
		color: #3399FF;
	}
	table#rssfeed .principal {
		border-top: 1px solid #DFDFDF;
		padding: 8px;
		background-image: url("../image/container.destaque.background2.jpg");
		background-repeat: repeat-x;
		vertical-align: top;
	}
	table#rssfeed .principal .titulo {
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 5px;
		border-bottom: 1px solid #DFDFDF;
	}
	table#rssfeed p {
		/*border-bottom: 1px solid #F5F5F5;*/
		padding-top: 5px;
		padding-bottom: 5px;
	}
	table#rssfeed .selecao {
		text-align: center;
	}
	table#rssfeed .selecao img {
		vertical-align:middle;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	table#rssfeed .selecao .selecionado {
		background-color: #DFDFDF;
		border: 1px solid #666666;
		padding-left: 3px;
		padding-right: 3px;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	
/* icone */
	table#icone {
		width: 730px;
		margin: 10px;
		text-align: left;
	}
	table#icone .imagem {
		border-bottom: 1px solid #F5F5F5;
		width: 29px;
	}
	table#icone .texto {
		border-bottom: 1px solid #F5F5F5;
		padding-left: 10px;
	}